[submodule "themes/jekyll-klise"]
	path = themes/jekyll-klise
	url = https://github.com/piharpi/jekyll-klise.git
[submodule "themes/hugoplate"]
	path = themes/hugoplate
	url = https://github.com/gohugoio/hugo.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/gohugoio/hugo.git
[submodule "themes/pape"]
	path = themes/pape
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/lovelt"]
	path = themes/lovelt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/adityatelange/hugo-PaperMod.git
